*{
    padding: 0%;
    margin: 0%;
}

.keyboard{
    background-color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    margin: 40px;
}

.keyboard button{
    padding: 15px;
    margin: 2px;
    width: 55px;
    height: 55px;
    font-size: 20px;
}

.div1 button{
    padding: 0px;
    margin-bottom: 4px;
    font-size: 15px;
    height: 20px;
    width: 52.6px;
}

.div2 button{
    margin-bottom: 4px;
}

.div2 #id1{
    width: 55px;
}

.div2 #bspace{
    width: 134px;
}

.div3 button{
    margin-bottom: 4px;
}

.div3 #tab{
    width: 112px;
}

.div3 #bslash{
    width: 77px;
}
.div4 button{
    margin-bottom: 4px;
} 

.div4 #caps{
    width: 120px;
}

.div4 #enter{
    width: 133px;
}

.div5 button{
    margin-bottom: 4px;
} 
.div5 #shift{
    width: 158px;
}


.div6 #enter{
    height: 110px;
}

.div6 #space{
    width: 333px;
}

.numbers input{
    width: 55px;
    height: 55px;
}

#plus{
    height: 116px;
    float: inline-end;
}

#zero{
    width: 110px;
}

#ent{
    height: 116px;
    float: inline-end;
}

.keyboard #ent, #num, #bspace, #shift, #enter{
    font-size: 18px
}

#power{
    border-radius: 50%;
    padding: 2px;
    height: 15px;
}







